
<img name="slide" width="400" height="200">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hu</title>
</head>
<body>
    
</body>
    <script>
        var i=0;
        var images=[];
        var time=300;
        
        images[0]='Images/bewakoof_slideshow.jpg';
        images[1]='Images/flipkart_slideshow.jpg';
        images[2]='Images/snapdeal_slideshow.jpg';
        function changeimg(){
            document.slide.src= images[i];
            if(i<images.length-1){
                i++;
            }else{
                i=0;
            }
            setTimeout("changeimg()",time);
        }
        window.onload=changeimg(); 
    </script>
</html>